* {
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", serif, sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Sans-serif";
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100%;
}

.button {
  padding: 10px 25px;
  width: auto;
  background: #262626;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:hover {
  background: deepskyblue;
  cursor: pointer;
}

/* header _________________________________________________________________________________________*/
header {
  height: 82px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 10;
}

header.fixed {
  height: 68px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

header.fixed nav {
  height: 68px;
  padding: 15px 0;
}

nav {
  margin: 0;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 82px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #262626;
  text-transform: capitalize;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

nav ul li a:hover, nav ul li a.active {
  color: deepskyblue;
}

.logo {
  font-weight: 900;
  font-style: italic;
  font-size: 1.2rem;
  color: #262626;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.logo:hover {
  color: deepskyblue;
}

.burger {
  display: none;
  width: 25px;
  height: 18px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.burger__element,
.burger__element::before,
.burger__element::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #262626;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger__element::before {
  top: -7px;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger__element::after {
  top: 7px;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger__element--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger__element--active::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger__element--active::after {
  left: 0;
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* MAIN */
/* section HOME _________________________________________________________________________________________*/
.home .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  height: auto;
  padding-top: 82px;
}

.home .col-left h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 25px;
}

.home .col-left h3 {
  font-weight: 900;
  color: deepskyblue;
  margin-top: 0;
  margin-bottom: 13px;
}

.home .col-left p {
  max-width: 400px;
  margin-bottom: 50px;
  line-height: 160%;
}

.home .col-left p a {
  color: #262626;
  font-style: italic;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.home .col-left p a:hover, .home .col-left p a.active {
  color: deepskyblue;
}

/* section ABOUTME _________________________________________________________________________________________*/
.aboutme {
  margin-top: 100px;
  height: auto;
}

.aboutme h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 0;
}

.aboutme .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.aboutme .col-left {
  text-align: center;
}

.aboutme .col-left img {
  width: 50%;
  margin-bottom: 15px;
}

.aboutme .col-left p {
  max-width: 400px;
  margin: auto;
  margin-bottom: 35px;
}

.aboutme .col-right h3 {
  font-weight: 900;
  color: deepskyblue;
  margin-top: 0;
  margin-bottom: 13px;
}

.aboutme .col-right h5 {
  font-weight: 900;
  margin-bottom: 25px;
  font-size: 25px;
  margin-top: 0;
  text-align: center;
}

.aboutme .col-right ul {
  width: 60%;
  margin: auto;
  padding: 0;
  text-align: center;
  grid-gap: 15px;
  font-weight: 700;
}

.aboutme .col-right ul li {
  font-size: 20px;
  color: deepskyblue;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}

.aboutme .col-right ul li:hover {
  color: #262626;
  cursor: default;
}

/* section PORTFOLIO _________________________________________________________________________________________*/
.portfolio {
  padding-top: 100px;
  height: auto;
  width: 100%;
  text-align: center;
}

.portfolio .container h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  width: 100%;
}

.portfolio .container p {
  max-width: 60%;
  margin: auto;
}

.portfolio-items {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min(300px, 100%), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-gap: 20px;
}

.portfolio-items .item {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
}

.portfolio-items .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-items .item h4 {
  font-size: 28px;
  color: #262626;
  font-weight: 500;
  margin-top: 15px;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.portfolio-items .item span {
  color: deepskyblue;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.portfolio-items .item:hover span {
  opacity: 1;
}

.portfolio-items .item .container-image {
  position: relative;
  width: 100%;
  max-height: 332.5px;
  overflow: hidden;
}

.portfolio-items .item .container-image a {
  z-index: 3;
  cursor: pointer;
}

.portfolio-items .item .container-image img {
  display: block;
}

.portfolio-items .item .container-image .decription {
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.portfolio-items .item .container-image .decription p:first-child {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding: 10px 5%;
  position: absolute;
  left: -1000px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.portfolio-items .item .container-image .decription p:last-child {
  color: deepskyblue;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: -1000px;
  width: 100%;
  max-width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.portfolio-items .item .container-image:hover .decription p:first-child {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.portfolio-items .item .container-image:hover .decription p:last-child {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

/* section services _________________________________________________________________________________________*/
.services {
  padding-top: 100px;
  height: auto;
  width: 100%;
  text-align: center;
}

.services .container h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  width: 100%;
}

.services .container p {
  max-width: 60%;
  margin: auto;
}

.service-items {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(min(300px, 100%), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.service-items .item {
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.service-items .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #262626;
}

.service-items .item:hover .service-icon {
  background-color: #fff;
}

.service-items .item:hover h4,
.service-items .item:hover p {
  color: #fff;
}

.service-items .item .service-content p {
  margin: 16px 0 25px;
  max-width: 100%;
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.service-icon {
  width: 80px;
  height: 80px;
  background-color: #262626;
  margin: auto;
  margin-top: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.service-icon .service-icon__element {
  font-size: 24px;
  color: deepskyblue;
  padding: 0;
}

.service-content {
  padding: 25px 30px;
}

.service-content h4 {
  font-size: 28px;
  color: #262626;
  margin-bottom: 15px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* section contacts _________________________________________________________________________________________*/
.contact {
  padding-top: 100px;
  height: auto;
  width: 100%;
  text-align: center;
}

.contact h3 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  color: deepskyblue;
}

.contact .container .contact-content p {
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
  color: #262626;
}

.contact .container .contact-content p:last-child {
  margin-bottom: 0;
}

.contact .container h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  width: 100%;
}

.contact .container p {
  max-width: 60%;
  margin: auto;
}

.contact p .icon {
  margin-right: 20px;
  font-size: 22px;
}

.contact p a:hover {
  cursor: pointer;
  color: deepskyblue;
}

.contact input,
.contact textarea {
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.contact input[type="submit"] {
  display: inline-block;
  background: #262626;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 40%;
  margin-left: 30%;
  border: 0;
}

.contact input[type="submit"]:hover {
  background-color: deepskyblue;
}

.contact-content {
  margin-top: 60px;
  width: 100%;
  text-align: left;
}

.contact-content .col-left {
  font-style: normal;
}

.contact-content .col-left a {
  color: #262626;
}

/* FOOTER _________________________________________________________________________________________*/
footer {
  margin-top: 60px;
  width: 100%;
  background-color: #262626;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  max-width: 100%;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: #fff;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

footer ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 16px;
  padding: 0;
  margin: 0 10px;
}

footer ul li:hover a {
  cursor: pointer;
  color: deepskyblue;
}

footer .icon {
  margin-right: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:visited {
  color: #fff;
}

@media (max-width: 1200px) {
  .home .col-left h1 {
    line-height: 50px;
    margin-bottom: 20px;
  }
  .home .col-left h3 {
    margin-bottom: 10px;
  }
}

@media (max-width: 1023px) {
  .home .col-left h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .home .col-left h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .home .col-left p {
    font-size: 14px;
  }
  .aboutme h2 {
    font-size: 45px;
  }
  .aboutme .container p {
    font-size: 14px;
  }
  .portfolio .container h2 {
    font-size: 45px;
  }
  .portfolio .container p {
    font-size: 14px;
    max-width: 90%;
    margin: auto;
  }
  .portfolio-items .item h4 {
    font-size: 20px;
  }
  .services .container h2 {
    font-size: 45px;
  }
  .services .container p {
    font-size: 14px;
    max-width: 90%;
    margin: auto;
  }
  .service-items .item h4 {
    font-size: 20px;
  }
  .contact .container h2 {
    font-size: 45px;
  }
  .contact .container p {
    font-size: 14px;
    max-width: 90%;
  }
  .contact-content {
    margin-top: 30px;
  }
}

@media (min-width: 961px) {
  nav ul {
    display: block !important;
  }
}

@media (max-width: 960px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 82px;
    width: 100%;
    background-color: #262626;
    padding: 0;
    z-index: 5;
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;
  }
  nav ul li {
    display: block;
    margin: 15px 0;
  }
  nav ul li a {
    color: #fff;
  }
  nav ul li:hover a,
  nav ul li:hover .active {
    color: deepskyblue;
  }
}

@media (max-width: 768px) {
  .d-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .home .container {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .col-right {
    display: none;
  }
  .home .col-left h3 {
    margin-bottom: 10px;
  }
  .home .col-left p {
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .aboutme .col-right h5 {
    margin-top: 20px;
  }
  .aboutme .col-right ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .aboutme .container p {
    max-width: 90%;
    margin-left: auto;
  }
  .portfolio-items {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(min(250px, 100%), 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-gap: 20px;
  }
  .portfolio-items .item h4 {
    margin-bottom: 10px;
  }
  .contact-content .col-left {
    text-align: center;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .contact h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  footer ul li {
    font-size: 14px;
    margin: 0 5px;
  }
}

@media (max-width: 550px) {
  footer {
    padding: 15px 0;
  }
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul li {
    margin: 5px 0;
  }
  footer ul li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .contact input[type="submit"] {
    width: 80%;
    margin-left: 10%;
  }
  .aboutme .col-right ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
